{% extends "base.html" %}

{% block title %}Aitäh tagasiside eest!{% endblock %}

{% block content %}
<section class="page-content">
    <div class="page-card">
        
        <div class="page-header">Aitäh tagasiside eest!</div>
        <div class="page-body">
            <div class="page-info">    

            <h2>Sinu tagasiside on saadetud!</h2>
            <p>Täname, et võtsid aega oma mõtteid jagada! See aitab meil veebilehte paremaks muuta.</p>
            
            <!-- Nupp tagasi avalehele -->
            <a href="{{ url_for('avaleht') }}" class="avaleht-btn">Tagasi avalehele</a>
         </div>
      </div>
   </div>
</section>

{% endblock %}