{% extends "base.html" %}

{% block title %}ÕIS-i tutvustus{% endblock %}

{% block content %}
<h2 class="pealkiri1-tekst">Tere tulemast õppeinfosüsteemi tutvustavale lehele!</h2>

<p class="pealkiri-tekst">See veebileht käistleb ÕIS-i kasutamist ning ÕIS-i poolt pakutavaid võimalusi.</p>

<p class="sissejuhatus-tekst">Vajuta menüüle, et liikuda erinevate ÕIS-i tutvustavate vahelehtede vahel.</p>

<div class="info-box">
    <h3>Lehe autorid</h3>
    <p>See veebileht on loodud järgmiste autorite poolt:</p>
    <ul class="autorite-list">
        <li>Mihkel Tomson</li>
        <li>Artjom Tšerkassov</li>
    </ul>
  </div>
</div>
{% endblock %}