<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ÕIS-i tutvustav rakendus{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kujundus_langev_taust.css') }}">
    {% block head %}{% endblock %}
</head>
<body>

<div class="lines">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

<header>

    <h1>ÕIS-i tutvustav rakendus</h1>

    <nav>
        <ul class="menu">
             <li><a href="{{ url_for('avaleht') }}" class="avaleht-btn">Avalehele</a></li>
                
             <!-- Dropdown menüü -->
            <li class="dropdown">
                <a href="#" class="dropbtn">Menüü<IS></IS>&#9776;</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('profiil') }}">Profiil</a></li>
                    <li><a href="{{ url_for('postkast') }}">Postkast</a></li>
                    <li><a href="{{ url_for('kalender') }}">Minu kalender</a></li>
                    <li><a href="{{ url_for('õppetulemused') }}">Õppetulemused</a></li>
                    <li><a href="{{ url_for('valikud') }}">Valikud õppekavas</a></li>
                    <li><a href="{{ url_for('registreeringud') }}">Registreeringud</a></li>
                    <li><a href="{{ url_for('avaldused') }}">Avaldused</a></li>
                    #<li><a href="{{ url_for('tunniplaanid') }}">Tunniplaanid</a></li>
                    #<li><a href="{{ url_for('õppeained') }}">Õppeained</a></li>
                    #<li><a href="{{ url_for('õppekavad') }}">Õppekavad</a></li>
                    #<li><a href="{{ url_for('akadeemiline_kalender')}}">Akadeemiline kalender</a></li>
                </ul>
            </li>
        </ul>
    </nav>
      
        <!-- Tagasiside link -->
    <button class="feedback-button" onclick="window.location.href='{{ url_for('tagasiside') }}'">
        Jäta meile tagasisidet!
    </button>
</header>

{% if request.endpoint == 'avaleht' %} <!-- Et semestri tähtsate kuupäevade kast oleks ainult avalehel -->
<section class="külje-box">
    <h2>Esimese semestri tähtsad kuupäevad 2025/26 õppeaastal</h2>

    <ul>
        <li><strong>15.09.25 23.59</strong> - Õppeainetesse registreerumise tähtaeg esmakursuslastele</li>
        <li><strong> 15.09.25 23.59</strong> - Õppekulude hüvitamisest vabastuse taotlemise tähtaeg sügissemestril</li>
        <li><strong> 20.10.25 23.59</strong> -  Õppetasu maksetähtaeg sügissemestril (maksekohustusega üliõpilastele)</li>
        <li><strong> 15.12 21.00</strong> - Kevadsemestri õppeainetesse registreerimise algus</li>
        <li><strong> 8.02 23.59</strong> - Bakalaureuseõppe peaeriala moodulite ja teiste õppeastmete moodulite valimise tähtaeg (kui on valitavaid mooduleid)</li>
        <li><strong> 8.02.23.59</strong> - Kevadsemestri õppeainetesse registreerumise tähtaeg</li>
    </ul>
</section>
{% endif %}
     
<main>
    {% block content %}
    <!-- Siia läheb teiste vahelehtede/alamlehtede põhisisu-->
    {% endblock %}
</main>

<footer>
    <p>ÕIS-i tutvustav veebileht. 2025</p>
</footer>

{% block scripts %}{% endblock %}

</body>
</html>

