<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ÕIS-i tutvustav interaktiivne rakendus</title>
    <link rel="stylesheet" href ="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>ÕIS-i tutvustav interaktiivne rakendus</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('avaleht') }}">Avaleht</a></li>
                <li><a href="#">Profiil</a></li>
                <li><a href="#">Postkast</a></li>
                <li><a href="#">Minu kalender</a></li>
                <li><a href="#">Õppetulemused</a></li>
                <li><a href="#">Valikud õppekavas</a></li>
                <li><a href="#">Registreeringud</a></li>
                <li><a href="#">Avaldused</a></li>
                <li><a href="#">Tunniplaanid</a></li>
                <li><a href="#">Õppeained</a></li>
                <li><a href="#">Õppekavad</a></li>
                <li><a href="#">Akadeemiline kalender</a></li>
                <!-- Tagasiside link -->
                <button class="feedback-button" onclick="window.location.href='{{ url_for('tagasiside') }}'">Anna meile tagasisidet!</a></li>
            </ul>  
        </nav>
    </header>
    
    <main>
        <h2>Tere tulemast õppeinfosüsteemi tutvustavale lehele!</h2>
        <p>See veebileht käsitleb ÕIS-i kasutamist ning ÕIS-ga seotud funktsioone.</p>
    </main>
    
    <footer>
        <p>ÕIS-i tutvustav veebileht. 2025
    </footer>
</body>
</html>

