{% extends "base.html" %}

{% block title %}Postkast{% endblock %}

{% block content %}

<section class="page-content">
    <div class="page-card">
        <div class="page-header">
            <h1>Postkast</h1>
        </div>

        <div class="page-body">
            <img src="{{url_for('static', filename='images/postkast.png') }}" alt="Postkasti ikoon" class="postkast-image">

            <div class="page-info">
                <h2>Postkasti funktsionaalsus ÕIS-is</h2>
                <p>Siit vahelehelt saad lugeda TÜ postkasti kasutamise kohta ning kõike sellega seonduvat.</p>
                <ul class="page-list">
                    <li><strong>Postkast</strong> – ehk sinu Ülikooli e-mail.</li> 
                    <li><strong>Postkasti juurde pääsemine</strong> – Postkasti saad liikuda ÕIS-is vajutades nupule "Postkast".</li>
                    <li><strong>Postkastiga seotud teavitused</strong> – Kõik olulised teated ja teavitused saadetakse postkasti!</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}