{% extends "base.html" %}

{% block title %}Profiil{% endblock %}

{% block content %}

<section class="page-content">
    <div class="page-card">
        <div class="page-header">
            <h1>Profiil</h1>
        </div>

    <div class="page-body">
        <img src="{{ url_for('static', filename='images/profiil.png') }}" alt="Profiili pilt" class="profile-image">

        <div class="page-info">
            <h2>Kasutaja Profiil</h2>
            <li><strong>Matrikkel-</strong> Profiililt leiad enda matrikkeli numbri</li>
            <li><strong>Kontaktandmed</strong> Lisa profiili alt endale ÕIS-i kontaktandmed</li>
            <li><strong>Arvelduskonto</strong> Lisa profiili alt endale ÕIS-i arvleduskonto</li>
        </div>
    </div>
</div>

{% endblock %}