{% extends "base.html" %}

{% block title %}Registreeringud{% endblock %}

{% block content %}

<section class="page-content">
    <div class="page-card">
        
        <div class="page-header">    
            <h1>Registreeringud</h1>
        </div>

        <div class="page-body">
    
        <img src="{{url_for('static', filename='images/registreeringud.png') }}" alt="Registreeringute ikoon" class="registreeringud-image">

        <div class="page-info">
            <h2>Registreeringud ÕIS-is</h2>
            <p>Siit vahelehelt leiad kõik ÕIS-i registreeringute vahelehega seonduva.</p>

            <ul class="page-list">
                <li><strong>Registreeri</strong> Registreeri ennast kontrolltöödele!</li>
                <li><strong>Registreeri</strong> Registreeri ennast eksamitele!</li>
            </ul>
        </div>
    </div>
</div>
</section>
 
{% endblock %}