{% extends "base.html" %}

{% block title %}Registreeringud{% endblock %}

{% block content %}
<h1>Registreeringud</h1>

<div class="registreeringud-container">
    <img src="{{url_for('static', filename='images/registreeringud.png') }}"
            alt="Registreeringute ikoon" class="registreeringud-image">

    <div class="registreeringud-info">
        <h2>Registreeringud ÕIS-is</h2>
        <p>Siit vahelehelt leiad kõik ÕIS-i registreeringute vahelehega seonduva.</p>
    </div>
</div>

{% endblock %}