{% extends "base.html" %}

{% block title %}Tagasiside – ÕIS-i tutvustav rakendus{% endblock %}

{% block content %}
<h2 class="tagasiside-pealkiri">Tagasiside vorm</h2>

<form method="POST" class="feedback-form" id="feedback-form">
    <label for="user_input">Sisesta oma tagasiside:</label><br>
    <textarea id="user_input" name="feedback" rows="6" cols="60" required></textarea><br><br>

    <button type="submit">Saada tagasiside</button>
</form>

<div id="messages"></div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}