{% extends "base.html" %}

{% block title %}Tunniplaanid{% endblock %}

{% block content %}

<section class="page-content">
    <div class="page-card">

        <div class="page-header">
            <h1>Tunniplaanid</h1>
        </div>


        <div class="page-body">
            <img src="{{url_for('static', filename='images/tunniplaanid.png') }}" alt="Tunniplaanide ikoon" class="tunniplaanid-image">

            <div class="page-info">
                <h2>Tunniplaanid ÕIS-is</h2>
                <p>Siit vahelehelt leiad kõik tunniplaanide vaatamise kohta ÕIS-is.<p>
                
                <ul class="page-list">
                    <li><strong>Tunniplaanide vaatamine-</strong> ÕIS-is saad vaadata oma õppeainete ja loengute tunniplaani.</li>
                    <li><strong>Tunniplaanide kohandamine-</strong> ÕIS-is saad kohandada oma isiklikku tunniplaani, lisada kursusi või muuta olemasolevaid.</li>
                    <li><strong>Teavitused-</strong> Kõik muudatused või teated, mis on seotud sinu tunniplaaniga, kuvatakse ÕIS-is.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
  
{% endblock %}