{% extends "base.html" %}

{% block title %}Õppeained{% endblock %}

{% block content %}

<section class="page-content">
    <div class="page-card">

        <div class="page-header">
            <h1>Õppeained</h1>
        </div>

        <div class="page-body">
    
            <img src="{{url_for('static', filename='images/õppeained.png') }}" alt="Õppeainete ikoon" class="õppeained-image">

            <div class="page-info">
                <h2>Õppeained ÕIS-is</h2>
                <p>Siit vahelehelt leida kõik õppeainete vaatamise kohta ÕIS-is.</p>
  
                <ul class="page-list">
                    <li><strong>Õppeainete vaatamine:</strong> ÕIS-is saad vaadata oma õppeainete nimekirja ja kursuste ajakava.</li>
                    <li><strong>Õppeainete kohandamine:</strong> ÕIS-is saad registreerida õppeaineid, lisada kursuseid ja muuta oma valikuid.</li>
                    <li><strong>Teavitused:</strong> Kõik muudatused või teated, mis on seotud õppeainetega, kuvatakse ÕIS-is.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}